/* Estilo que se agrega para que se vea mas profesional jijij */
.ox-frame-header {
    background-color: #2c3e50 !important;
    color: white !important;
    border-radius: 5px 5px 0 0;
}


.ox-button-bar a, .ox-button-bar button {
    background-color: #27ae60;
    color: white !important;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    font-weight: bold;
}

.ox-button-bar a:hover, .ox-button-bar button:hover {
    background-color: #219150;
}


.ox-total-row {
    background-color: #ecf0f1;
    font-weight: bold;
    color: #c0392b;
}